body {
    background-color: #D8BFD8;
    font-family: 'Dancing Script', cursive;
}

#one {
    color: #800080;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#two {
    font-family: verdana;
    font-size: 20px;
}

#schoolã€€{
    text-align: center;
}
