body {
    background-image: url(/images/IMAG0317.jpg);
    width: 800px;
    height: 600px;
    font-family: 'Dancing Script', cursive;
}

#one {
    color: #800080;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#two {
    font-family: verdana;
    font-size: 20px;
}
